torch==2.0.1
torchvision==0.15.2
Pillow==9.5.0
flask==2.1.0
werkzeug==2.0.3
icrawler
scikit-learn
tensorboard
tqdm
opencv-python
albumentations  # opcional
serpapi  # si se usa script secundario de descarga
facenet-pytorch
numpy